<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="js/curseur-gradiant.js" defer></script>
        <script src="js/theme.js"></script>
        <script src="js/tailwindconfig.js"></script>
        <link rel="stylesheet" href="{{ asset('css/global.css') }}">
        {# FONTS #}
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Roboto+Mono:wght@400;500;700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
        {# ICONS #}
        <link rel="import" href="https://img.icons8.com/?size=100&id=59777&format=png&color=000000.html">
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-[#d8e7f5] text-[#353535] flex flex-col min-h-screen font-roboto-mono">
        <div class="circle" id="cursor-circle"></div>
        <header class="flex-shrink-0">
            <div class="flex h-[80px]">
                <div class="bg-cSection dark:bg-dSection flex-1 mr-[1px]"></div>
                <div class="bg-cSection dark:bg-dSection w-[450px] shrink-0 mr-[1px]">
                    <div class="text-2xl flex p-5 justify-center">
                        <img class="w-8" src="/img/nd-noir.png">
                        <a href="{{ path('app_home') }}" class="pl-10  font-semibold">Noé Dambreville</a>
                    </div>
                </div>
                <div class="bg-cSection dark:bg-dSection w-[450px] shrink-0"></div>
                <div class="bg-cSection dark:bg-dSection  w-[450px] shrink-0 ml-[1px]">
                    <div class="flex p-5 justify-center">
                    <button id="theme-toggle" class="p-2"> 🌞 / 🌙</button>
                    </div>
                </div>
                <div class="bg-cSection dark:bg-dSection flex-1 ml-[1px]"></div>
            </div>
        </header>
        <main class="flex-grow">
            {% block body %}{% endblock %}
        </main>
        <footer class="flex-shrink-0">
            <div class="flex h-[80px] pt-[1px]">
                <div class="bg-cSection dark:bg-dSection flex-1 mr-[1px]"></div>
                <div class="bg-cSection dark:bg-dSection w-[450px] shrink-0 mr-[1px]">
                    <div class="text-2xl flex p-5 justify-center">
                        <img class="w-8" src="/img/nd-noir.png">
                        <a href="{{ path('app_home') }}" class="pl-10  font-semibold">Noé Dambreville</a> 
                    </div>  
                </div>
                <div class="bg-cSection dark:bg-dSection w-[450px] shrink-0">
                    <div class="mx-auto p-7 text-center">
                        &copy;dnoe-portfolio. Tous droits réservés.
                    </div>
                </div>
                <div class="bg-cSection dark:bg-dSection w-[450px] shrink-0 ml-[1px]">
                    <div class=" mx-auto p-7 text-center font-semibold">
                        <a href="{{ path('app_mention_legales') }}">Mentions légales</a>
                    </div>
                </div>
                <div class="bg-cSection dark:bg-dSection flex-1 ml-[1px]"></div>
            </div>
        </footer>
    </body>
</html>
